/* Your Awesome Website */
h1 {
	color: #fff;
}

.parfait1 {
	background: #007095;
	padding: 15px;
}

.parfait2 {
	padding: 35px 0;
	background: #555;
}

label {
	color: #fff;
}

button {
	background-color: #333;
}